/* SEARCH FIELD */
.pro-header-on .search-expand {
    background: none;
}


/* HEADER MENU */
@media only screen and (min-width: 720px) {
  .pro-header-on #nav-header.nav-container {
      background: none;
  }
}
.pro-header-on #page {
  margin-top: 0px;
}

.pro-header-on #header .container-inner {
  margin: inherit;
  max-width: inherit;
}
.pro-header-on #header .nav-wrap {
    padding: inherit;
}

.pro-header-on .hu-branding {
  padding: 0 14px;
}

.pro-header-on #nav-header .container {
    padding: 0px;
}
@media only screen and (min-width: 720px) {
  .pro-header-on #nav-header .nav ul {
      background-color: rgba(0, 0, 0, 0.8);
  }
}

/*.pro-header-on #nav-header .nav ul {
  background: rgba(0,0,0,.25);
}*/







/* LARGE HEADER WRAPPER */
/*#ha-large-header.no-bg {
  background: #000;
}*/
#ha-large-header {
  -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0,.3);
  box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.36);
  z-index: 1;
  position: relative;
  background: #000;
}



/* SECTION SLIDER */
.pc-section-slider {
  position: relative;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* MIN HEIGHT
implemented for https://github.com/presscustomizr/hueman-pro-addons/issues/197
for tablets landscape
this value is getting overriden by a custom user value different than 500px
@see php ha_write_header_inline_css()
*/
@media only screen and (max-width: 1024px) {
  #ha-large-header .pc-section-slider { min-height: 500px; }
}


.pc-section-slider.full-height {
  width: 100%;
  height: 100vh!important;
}
.admin-bar .pc-section-slider.full-height {
  height: calc( 100vh - 46px )!important;
}
@media screen and ( min-width: 783px ){
  .admin-bar .pc-section-slider.full-height {
    height: calc( 100vh - 32px )!important;
  }
}

.pc-section-slider:not(.full-height) {
    height: 500px;
}
/*
.pc-section-slider .filter {
  color: #fff;
}
.pc-section-slider::before {
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  background: rgba(32, 32, 32, 0.5);
}

.pc-section-slider .container {
    height: 100vh !important;
}*/

.pc-section-slider .carousel-inner, .pc-section-slider .carousel-cell {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* POSTS SLIDER SPECIFICS */

.pc-section-slider.hu-posts-slider .carousel-cell {
  width: 65%;
  margin-right: 2%;
  height: 100%;
  overflow: hidden;
}



/* INNER SECTION SLIDER */
.carousel-cell { width: 100%;}




/* FILTER AND SKIN */

/*
.header-skin-dark .pc-section-slider .filter {
    background: rgba(34, 34, 34, 0.65);
}
.pc-section-slider .filter::before {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;.
    height: 100%;
    display: block;
    z-index: 3;
    content: "";

}
.header-skin-dark .pc-section-slider .filter::before {
    background: rgba(34, 34, 34, 0.65);
}
.header-skin-light .pc-section-slider .filter::before {
    background: rgba(255, 255, 255, 0.75);
}*/
@media only screen and (min-width: 720px) {
  /* TOP BAR */
  .header-skin-light #header #nav-topbar.nav-container,
  .search-expand,
  .header-skin-light #nav-topbar.desktop-sticky .nav ul {
    background: rgba(0,0,0,.5)!important;
  }

  .is-scrolled.header-skin-light #header #nav-topbar.nav-container,
  .is-scrolled.header-skin-light #nav-topbar.desktop-sticky .nav ul,
  .is-scrolled .search-expand {
    background: rgba(0,0,0,.70)!important;
  }

  /*.header-skin-light #nav-topbar .nav li a,
  .header-skin-light #nav-topbar .nav li>a:hover {
    color: #000;
  }*/
  .is-scrolled.header-skin-light #nav-topbar .nav li a,
  .is-scrolled.header-skin-light #nav-topbar .nav li>a:hover {
    color: #fff!important;
  }

  /* HEADER MENU */
  .header-skin-light #header .nav ul {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.header-skin-dark .pc-section-slider.slider-ready .carousel-caption-wrapper {
    background: rgba(34, 34, 34, 0.65);
}
.header-skin-light .pc-section-slider.slider-ready .carousel-caption-wrapper {
    background: rgba(255, 255, 255, 0.75);
}
.header-skin-dark .carousel-caption .hph-title,
.header-skin-dark .carousel-caption h3 ,
.header-skin-custom .carousel-caption .hph-title,
.header-skin-custom .carousel-caption h3,
.header-skin-dark .meta-single,
.header-skin-dark .carousel-caption a {
    color: #fff
}

.header-skin-light .site-title a,
.header-skin-light .site-description,
.header-skin-light #nav-header .nav li a,
.header-skin-light .carousel-caption .hph-title,
.header-skin-light .carousel-caption h3,
.header-skin-light .carousel-caption a {
    color: #000
}
.header-skin-light .hph-single-author-date .post-byline {
  color:#3a3a3a;
}
.header-skin-light #nav-header .nav .sub-menu li a {
    color: #fff;
}


/* PARALLAX */
/*.parallax {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
}*/







/* IMAGE BACKGROUND */
.carousel-inner {
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  position: relative;
}
/* THIS IS SET ONLY WHEN IMG NOT JS CENTERED */
.img-not-js-centered .carousel-image img {
  width: 100%;
  min-width: 100%;
  height: auto;
}

.center-slides-disabled .carousel-image img {
  /* temporary CSS centering */
  transform: translate(-50%, -50%);
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  position: absolute;
}






/* VIDEO BACKGROUND */
.pc-section-slider.full-height .hu-video {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    z-index: 2;
    position: absolute;
    display: block;
}





/* CAPTION AND TITLES */
.carousel-caption-wrapper {
    height: 100%;
    /* max-height: 101%; */
    width: 104%;
    /* text-align: center; */
    z-index: 2;
    overflow: hidden;
    -webkit-transform: translate(-2%, 0%);
    -ms-transform: translate(-2%, 0%);
    -o-transform: translate(-2%, 0%);
    transform: translate(-2%, 0%);
    /* transform: translate3d(-14%, -50%, 0); */
    top: 0%;
    left: 0%;
    position: absolute;
}
/*.fixed-caption-on .carousel-caption-wrapper {
  pointer-events: none;
}*/

.carousel-caption {
  height: auto;
  max-height: 80%;
  width: 80%;
  text-align: center;
  z-index: 3;
  overflow: hidden;

  /* temporary centering */
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform : translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: absolute;
}


.pc-section-slider .carousel-caption > .hph-title {
    margin: 0;
    line-height: 1.1;
    font-weight: 700;
    font-size: 2.98598em;
}
.pc-section-slider .hph-title.very-big {
  font-size: 65px;
  line-height: 1.4em;
  margin-bottom: 0.2em;
}
.carousel-caption .hph-subtitle {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 30px;
}


/* METAS FOR SINGLE POSTS */
.pc-section-slider .meta-single {
  position: relative;
/*  top: 36%;
  -webkit-transform: translateY(-36%);
  -ms-transform: translateY(-36%);
  transform: translateY(-36%);*/
}
.carousel-caption .meta-single li {
    padding-top: 0.5em;
}

.carousel-caption .meta-single li a, .pc-section-slider .carousel-caption a.hph-cta {
  /*color: #ddd;
  color: rgba(255,255,255,.7);*/
  /*color: #fff;*/
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 1.25em;
}
.pc-section-slider .meta-single a {
  margin: 0 1em;
/*  padding-right: 1em;*/
}

.parallax .meta-single li {
    display: inline-block;
}
.carousel-caption .fa-comments {
    margin-right: .3em;
}
.rtl .carousel-caption .fa-comments {
    margin-right: 0;
    margin-left: .3em;
}

/*.hph-single-author-date {
  position: relative;
  top: 51%;
  -webkit-transform: translateY(-51%);
  -ms-transform: translateY(-51%);
  transform: translateY(-51%);
}*/
.hph-single-author-date .post-byline {
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #d8d8d8;
  color: rgba(255,255,255,.7);
}



/* BUTTON */
.btn {
    display: inline-block;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
}
.btn-skin {
    color: #fff;
    background-color: #16cfc1;
}
.btn-skin:hover {
  -webkit-box-shadow: 0 2px 6px 1px rgba(0,0,0,.3);
  -moz-box-shadow: 0 2px 6px 1px rgba(0,0,0,.3);
  box-shadow: 0 2px 6px 1px rgba(0,0,0,.3);
}
.btn-skin:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn, .btn-skin {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    font-family: "Karla", sans-serif;
}



/* If automatic centering is enabled */
.hu-carousel > .center-slides-enabled > .item > .carousel-image img {
  display: block;
  position: relative;
}


/* JS IMAGE CENTERING */
img.h-centered {
  width: auto!important;
  max-width: none!important;
  position: relative;
  transform: translateZ(0) !important;
}
img.v-centered {
  height: auto!important;
  max-height: none!important;
  vertical-align: top;
  position: relative;
  transform: translateZ(0) !important;
}
















/* SLIDER CONTROL */
.slider-nav { cursor: pointer;}
.slider-nav .slider-prev {
    left: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0px;
}
.slider-nav .slider-next {
    right: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 2px;
}

.slider-nav .slider-control {
    position: absolute;
    z-index: 2;
    top: calc((100% - 60px)/2);
    text-align: center;
    margin-top: 0px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    display: block;
    color: #fff;
    height: 60px;
    width: 50px;
    opacity: 0.6;
    background-color: rgba(32, 32, 32, 0.4);
    -webkit-transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    line-height: 64px;
    cursor: pointer;
}

.slider-nav .slider-control:hover {
    background-color: rgba(32, 32, 32, 0.7);
    opacity: 1;
    width: 100px;
}
@media only screen and (max-width: 719px) {
    .slider-nav { display: none;}
}
.pc-section-slider .flickity-page-dots {
    bottom: 30px;
}
.header-skin-dark .pc-section-slider .flickity-page-dots .dot, .header-skin-custom .pc-section-slider .flickity-page-dots .dot {
    background: #fff;
}
.header-skin-light .pc-section-slider .flickity-page-dots .dot {
    background: #202020;
}











/* @MEDIAS */
@media only screen and (min-width: 720px) {

  /* HEADER STYLE */
  .pro-header-on #header {
    padding-bottom: 0px;
    background: none;
    position: absolute;
    z-index: 10000;
    width: 100%;
  }
  /* HEADER MENU */
  .pro-header-on #nav-header.nav-container {
    background: none!important;
    -webkit-box-shadow:none;
    box-shadow: none;
  }

  /* TOP MENU */
  .pro-header-on #nav-topbar.desktop-sticky .nav ul {
    background-color: rgba(0,0,0,.85);
  }
  .pro-header-on #header #nav-topbar.nav-container {
      background: rgba(0, 0, 0, 0.7);
  }
}

@media only screen and (max-width: 719px) {
    .pro-header-on #header .nav-container.mobile-sticky {
        background: #000;
        background:rgba(0, 0, 0, 0.85);
    }
    .pro-header-on #header.one-mobile-menu {
        padding-bottom: 0px;
        background: none;
        position: absolute;
        z-index: 10000;
        width: 100%;
    }
    .pro-header-on #header.two-mobile-menus {
        /*padding-bottom: 0px;
        background: none;*/
        position: relative;
        z-index: 10000;
        width: 100%;
    }
   /* .pc-section-slider .hph-title.very-big {
      font-size: 70px;
      line-height: 145px;
    }
    .carousel-caption > .hph-title + h3 {
        margin-top: 0;
        margin-bottom: 1.25em;
        font-size: 1.728em;
    }*/
     /*.pro-header-on #header {
      position: relative;
    }*/
}
@media only screen and (max-width: 480px) {
    /*.pc-section-slider .hph-title.very-big {
      font-size: 50px;
      line-height: 60px;
    }
    .carousel-caption > .hph-title + h3 {
        margin-top: 0;
        margin-bottom: 1.25em;
        font-size: 1.428em;
    }*/

}








/*! Flickity v2.0.2
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 50%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

/* FLICKITY CUSTOM */

.lazy-load-on .carousel-cell img {
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
}
.lazy-load-on .carousel-cell img.flickity-lazyloaded,
.lazy-load-on .carousel-cell img.flickity-lazyerror {
  opacity: 1;
}

/* FEATURED POST ARROWS DOWN */
.pro-header-on #flexslider-featured .flex-direction-nav {
  top: -33px;
}
.pro-header-on #flexslider-featured .flex-direction-nav a {
  background:none;
}















/* Pure CSS loader */
@-webkit-keyframes czr-mr-loader {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1; }

  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7; }

  100% {
    opacity: 0.0; }
}

@keyframes czr-mr-loader {
  0% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 1; }

  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.7; }

  100% {
    opacity: 0.0; }
}

.czr-css-loader {
  display: block;
  opacity: 1;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 1000;
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -ms-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
}
.czr-mr-loader > div:nth-child(0) {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.czr-mr-loader > div:nth-child(1) {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.czr-mr-loader > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.czr-mr-loader > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.czr-mr-loader > div {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  position: absolute;
  top: -4%;
  left: -4%;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #fff;
  -webkit-animation: czr-mr-loader 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
          animation: czr-mr-loader 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
}























/* PRO RELATED POSTS */
/*  single : related posts
/* ------------------------------------ */
#pro-related-posts-wrapper {
  position: relative;
  min-height: 100px;
}
#pro-related-posts-wrapper.loading .czr-mr-loader {
  opacity: 1;
}
#pro-related-posts-wrapper .czr-mr-loader > div {
  border:2px solid #5f5f5f;
}
#pro-related-posts.customize-partial-refreshing {
  opacity: 0;
}
#pro-related-posts .pro-rel-posts-wrap {
  max-height: 300px;
  overflow: hidden;
}

#pro-related-posts.flickitised .pro-rel-posts-wrap {
  width: 92%;
  padding: 2% 4%;
}

.pro-rel-posts-wrap .flickity-prev-next-button {
    -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 3px;
  -webkit-border-radius:3px;
  background: #696969;
  background: rgba(0, 0, 0, 0.5);
  opacity: .6;
}
.pro-rel-posts-wrap .flickity-prev-next-button.next {
    right: -10px;
}
.pro-rel-posts-wrap .flickity-prev-next-button.previous {
    left: -10px;
}
.pro-rel-posts-wrap .flickity-prev-next-button:hover {
  opacity: 1;
}
.pro-rel-posts-wrap .flickity-prev-next-button .arrow {
  fill:white;
}
.pro-rel-posts-wrap .flickity-prev-next-button svg {
    position: absolute;
    left: 23%;
    top: 27%;
    width: 51%;
    height: 52%;
}
.pro-rel-posts-wrap {
  border-bottom: 2px solid #eee;
  margin-bottom: 40px;
}

/* LAYOUTS */
/* DEFAULT IS 3 COLS */
.pro-rel-posts-wrap .carousel-cell, .pro-rel-posts-wrap.col-3 .carousel-cell {
  width: 32%;
  padding-right:1.3%;
  float: left;
  display: inline;
}
.pro-rel-posts-wrap.col-1 .carousel-cell {
  width: 97.5%;
  padding-right:2.5%;
}
.pro-rel-posts-wrap.col-2 .carousel-cell {
  width: 48.5%;
  padding-right:1.5%;
}

.pro-rel-posts-wrap.col-4 .carousel-cell {
  width: 24%;
  padding-right:1%;
}

.pro-rel-posts-wrap li .post {
  border-right: 1px solid transparent;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.pro-rel-posts-wrap .post-thumbnail {
  max-height: 150px;
  overflow: hidden;
}

/* LARGE THUMBNAILS */
.pro-rel-posts-wrap.item-height-tall .post-thumbnail {
  max-height: 250px;
  height: 250px;
}
.pro-rel-posts-wrap.item-height-tall .post-thumbnail img {
  max-width: none;
  width: inherit;
}
/*.pro-rel-posts-wrap li:nth-child(3) article {
  border-right-color: transparent;
}*/
.pro-rel-posts-wrap .related-inner { padding: 0 20px 0 0; }
.single .pro-rel-posts-wrap .post-title {
  margin-bottom: 10px;
  font-size: 1.0625em;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0;
  display: block;
}

@media screen and ( max-width: 719px ) {
  /* half-width cells for larger devices */
  .pro-rel-posts-wrap.col-3 .carousel-cell, .pro-rel-posts-wrap.col-4 .carousel-cell {
    width: 48.5%!important;
    padding-right:1.5%!important;
  }
  .pro-rel-posts-wrap .flickity-prev-next-button {
    width: 30px;
    height: 30px;
    opacity: .6;
  }
  .pro-rel-posts-wrap .flickity-prev-next-button svg {
    position: absolute;
    left: 23%;
    top: 27%;
    width: 51%;
    height: 52%;
  }
  /**
   * two columns per row on small devices.
   * see: https://github.com/presscustomizr/hueman-pro-addons/issues/191
   */
  .pro-rel-posts-wrap.col-3 .carousel-cell:nth-child(2n+1),
  .pro-rel-posts-wrap.col-4 .carousel-cell:nth-child(2n+1) {
    clear: left;
  }
/*  .single .pro-rel-posts-wrap .post-title {
    font-size: 0.9em;
  }
  .single .pro-rel-posts-wrap .post-meta {
    font-size: .775em;
  }*/
}